.calendar-day-number {
    position: absolute;
    left: 0;
    top: 0;
}

.calendar-day {
    display: flex;
}

.calendar {
    min-height: 256px;
}

.calendar-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 992px) {
    .h-lg-50 {
        height: 50%
    }
}

#gradeEstimateHistogram {
    min-height: 384px;
}

footer {
    min-height: 4em;
}

a {
    color: inherit;
}

body {
    min-height: 100vh;
}